@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eeeded;
}

.mainWrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.homePage {
  padding: calc(113 / 14.4 * 1vw) clamp(20px, calc(47 / 14.4 * 1vw), 47px);
}

.homePage .navigation {
  display: flex;
  align-items: center;
  gap: clamp(5px, calc(8 / 14.4 * 1vw), 8px);
}

.navigation,
.navigation > a {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.navigation > a:first-child {
  color: #808080;
}

.navigation {
  margin-bottom: clamp(40px, calc(63 / 14.4 * 1vw), 63px);
}

.gallery {
  width: 100%;
  padding: 0 clamp(24px, calc(67 / 14.4 * 1vw), 67px);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: clamp(50px, calc(120 / 14.4 * 1vw), 120px);
  row-gap: clamp(40px, calc(80 / 14.4 * 1vw), 80px);
  flex-wrap: wrap;
}

.galleryItemWrapper {
  width: 100%;
  max-width: clamp(200px, calc(324 / 14.4 * 1vw), 324px);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.galleryItemWrapper > p {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: clamp(40px, calc(60 / 7 * 1vw), 60px);
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
  display: none;
}

.galleryItem {
  width: 100%;
  aspect-ratio: 324/462;
  cursor: pointer;
  transition: all 0.4s ease;
}

.galleryItemWrapper:nth-child(1) .galleryItem {
  background: url(./assets/images/1.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.galleryItemWrapper:nth-child(2) .galleryItem {
  background: url(./assets/images/2.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.galleryItemWrapper:nth-child(3) .galleryItem {
  background: url(./assets/images/3.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.galleryItemWrapper:nth-child(4) .galleryItem {
  background: url(./assets/images/4.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.galleryItemWrapper:nth-child(5) .galleryItem {
  background: url(./assets/images/5.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.galleryItemWrapper:nth-child(6) .galleryItem {
  background: url(./assets/images/6.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.galleryItemWrapper:nth-child(7) .galleryItem {
  background: url(./assets/images/7.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.galleryItemWrapper:nth-child(8) .galleryItem {
  background: url(./assets/images/8.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.galleryItemWrapper:nth-child(9) .galleryItem {
  background: url(./assets/images/9.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.galleryItem div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  display: none;
  transition: all 0.4s ease;
}

.galleryItem p {
  position: absolute;
  font-family: "Bebas Neue";
  font-size: clamp(40px, calc(100 / 14.4 * 1vw), 100px);
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    #fff 0%,
    #fff 10%,
    #000 10%,
    #000 30%,
    #fff 30%,
    #fff 70%,
    #000 70%,
    #000 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  white-space: nowrap;
}

.galleryItem:hover div {
  display: flex;
}

@media only screen and (max-width: 900px) {
  .galleryItemWrapper {
    width: 100%;
    max-width: clamp(200px, calc(300 / 9 * 1vw), 300px);
  }

  .galleryItem p {
    font-size: clamp(40px, calc(90 / 9 * 1vw), 90px);
  }
}

@media only screen and (max-width: 700px) {
  .galleryItemWrapper {
    width: 100%;
    max-width: clamp(200px, calc(400 / 7 * 1vw), 400px);
  }

  .galleryItem p {
    display: none;
  }

  .galleryItemWrapper > p {
    display: flex;
  }
}

@media only screen and (max-width: 400px) {
  .galleryItemWrapper {
    width: 100%;
    max-width: 100%;
  }
}
